body {
    background-image:url(fundo0.png);
    background-color: rgb(223, 255, 255);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: Lucida Handwriting;
    font-size: 37px;
}